.navbar {
  height: 5.3125rem;
  z-index: 999999 !important;
  transition: 0.4s ease-out;
  backdrop-filter: blur(0.3125rem);
  background-color: var(--color-glass);
}

.navbar.scrolled {
  height: 5rem;
  backdrop-filter: blur(0.625rem);
}

.offcanvas-body {
  padding: 0;
}

.navbar-nav a {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--color-ink);
  text-decoration: none;
  margin: 0 0.5625rem;
}

.containernav {
  margin: 0 2.8125rem;
}

.logomenu {
  width: 20.625rem;
}

.menucanvass p, .menucanvass hr{
  display: none;
}

@media screen and (max-width: 1000px) {

  .navbar {
    padding-top: 0 !important;
  }
  .navbar-toggler{
    border-radius: 9.375rem;
    background: linear-gradient(145deg, var(--color-surface), var(--color-surface));
    box-shadow: 15px 15px 30px var(--color-border-strong),
      -15px -15px 30px var(--color-surface);
    padding: 0.75rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .btn-close {
    border-radius: 9.375rem;
    box-shadow: 15px 15px 30px var(--color-border-strong),
      -15px -15px 30px var(--color-surface);
    padding: 0.75rem 0.75rem;
    border: 1px solid rgb(255, 255, 255);
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .containernav {
    margin: 0 0.9375rem !important;
  }

  .offcanvas {
    width: 86vw !important;
  }

  .offcanvas-body a {
    color: var(--color-header-bg) !important;
  }

  .btnregistro {
    background-color: var(--color-border-soft);
  }

  .logomenu {
    width: 9.375rem;
  }

  .navbar-toggler-icon {
    width: 1.2em;
    height: 1em;
  }

  .offcanvas-header{
    padding-bottom: 0;
  }

  .menucanvass{
    padding: 0 1.25rem 0.625rem 1.25rem !important;
  }

  .menucanvass p, .menucanvass hr{
    font-weight: 400 !important;
  }

  .menucanvass a{
    padding: 0.625rem 0 !important;
    font-weight: 400 !important;
  }

  .menucanvass p, .menucanvass hr{
    display: block;
  }
}